.background-color {
    background-color: grey;
    padding: 20px;
}
.small-image {
    width: 500px;
    margin: 30px;
}
.midnightblue-text {
    color: midnightblue;

}
h1 { font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 60px;
    margin: 50px;
    
    
}
.black-border {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    border-color: black; 
    border-width: 1px;
    border-style: solid;
    border-radius: 70%
}

.midnightblue-text {
    color: midnightblue;

}
p { font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}